# Archivos y directorios de Python
__pycache__/
*.py[cod]
*.pyo

# Entornos virtuales
venv/
.env/

# Archivos de configuración internos o de desarrollo
*.env
*.ini
*.cfg
launch.json

# Archivos de logs
*.log

# Archivos de bases de datos
*.sqlite3

# Archivos de Jupyter Notebook
.ipynb_checkpoints/
*.ipynb

# Archivos de caché de herramientas
.cache/


# Modelos entrenados
*.pkl
*.pklz
*.joblib
*pkl_lite


# Cosas de los binarios
*.pyi


# Archivos binarios     
*.so

# Configuraciones locales (contienen _local en el nombre)
*local*

# Cosas temporales
*.tmp
*temporal*
*old*

